/* Resetar o CSS */
*{
    padding: 0;
    margin: 0;
}
/* Centralização do Card */
.centro{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* Efeito de Card */
.card{
    font: 16px;
    text-align: center;
    margin: 20px;
    padding: 20px;

    color: rgb(247, 247, 247);
    background-color: rgb(55, 117, 118);
    border-radius: 15px;
    border-style: groove;
    border-color: rgb(81, 185, 199);
    box-shadow: 5px 10px 10px black;

    width: 300px;    
}


/* Estilização do Botão de Enviar */
.btn{
    border-radius: 5px;
    height: 27px;
    width: 100px;
}

.btn:hover{
    background-color: rgba(188, 222, 255, 0.745);
    color: rgb(27, 27, 27);
}

/* Estilização dos H3 */
form>h3{
    margin-bottom: 5pt;
    margin-top: 5pt;
    font: 20px ;
    font-family: arial, sans-serif;
    color:rgb(213, 251, 255);
    
}

/* Background da página */
body{
    background-image: url(../img/bg.jpg);
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.fot{
    color: rgb(0, 0, 0) ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 247, 255) ;
    text-align: center;
    font-size: 14px;
    
}
